@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>


<p>My name is David Stockdale.  I'm a programmer, 3D guy, designer, and support guy</p>
<p>This is my first attempt at a web site - please don't judge.  There isn't much to look at here yet...</p>

<h3>About this site</h3>

<p>In case you're wondering about this site's name, it's got a pretty funny story behind it,
    dating all the way back to 2010 - it's got nothing to do with my arrogance, honest! The following
    is my vague recollection of how it came to be. </p>



<p>Back in 2010, a few of us at work signed up to do presentations at PLM World, a user conference
    for Siemens NX and Teamcenter.  My presentation
    was a user success story for NX administration.  Having never given a presentation like
    this before (outside a class room environment), I was really nervous.  Not because I wasn't prepared - heck, 
    I practiced on coworkers a few times and had it down pretty well.  I like
    most people, get a little wierded out giving a talk to that many people.  </p>

<p>Anyway, back to the story.  Sunday night we got to the hotel and got checked in with the registration counter 
    at PLM World.  Given the fact that I was doing this presentation, I was very interested in where I'd be presenting.  
    "Ballroom A" the itinerary said.  Huh - I wonder where that is - I flipped to
    the room map page only to find that "Ballroom A" was the main room where the general sessions were
    to be held.</p>

<p>Crap! Are you kidding?  There's like 4000 seats in that room!  Did I mention this was Sunday evening?  Did
    I also mention that I didn't get to present until Tuesday morning?</p>

<p>I'll spare you my anxiety leading up to my presentation, but I made it through without making a 
    fool out of myself. At the end of my talk, there were a few people from places like LEGO who wanted a little more 
    information which I later provided them.  I was done with the hard part of the trip.  I felt pretty good - I could relax a little.</p>

<p>
    That night I decided I had earned a beer (back then I earned them frequently for not doing much), so I went down stairs
    to the hotel bar.  I didn't know anyone there, but it was ok because, well, I had a beer.  After only a few minutes, without warning or
    introduction, a few guys all of which were younger than me, said in a slightly southern accent: "HEY, YOU'RE THAT GUY!!!"
</p>

    <p><i>Me:</i> Uh yeaaahhh, huh?</p>
    <p><i>Them:</i> We were in your NX admin session today!  That was pretty cool!  How did you figure all that out?</p>
    <p><i>Me:</i> I read the documentation...?</p>
    
<p>I don't remember many of other details from that night except that one of the guys was trying to get his buddy to hit
    on some girl sitting at the bar who he thought looked like Kim Kardashian (she didn't).  The next day I was telling
    the guys I work with about the evening's events and one of them jokingly said something about "davesnation," the
    fact that I now have "groupies", and that I should put up a website...</p>

<p>So, that's the story of how this site got started - almost a full five years late - with a rather self-centered name like
    davesnation.com</p>
